.footer {
    background-color: #193259;
    padding: 20px;
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    border-top: 5px solid #593443;
}
.footer h1 {
    color: #f2f2f2;
    text-align: center;
    font-size: 30px;
}

.copyright {
    bottom: 0;
    position: absolute;
    color: #ffffff;
}