.topnav {
    padding-left: 35px;
    padding-right: 35px;
    overflow: hidden;
    background-color: #593443;
    border-bottom: 5px solid #2A4165;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #173056;
    color: white;
}